
.container {
  width: 70%;
  margin: 0px,0px;
}
.tables {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  background-image: linear-gradient(to right, rgb(94, 255, 0) , rgb(255, 0, 200));
}
.jumbotron {
  background-color: #cccccc;
  margin: 0px;

}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/pills.jpg"); /* The image */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 250px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.stripe{
  margin:0;
  padding:12px;
}

.stripe:nth-child(odd) {
   background-color: whitesmoke
}
.stripe:nth-child(even){
   background-color: rgba(211, 211, 211, 0.5)
}

.button {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 12px 21px;
  font-size: 16px;
  margin-top: 20px;
  margin-right: 5px;
  opacity: 0.80;
  transition: 0.3s;
  position: relative;
  margin-top: 5px;
  margin-right :0px;
} 

.button:hover {opacity: 1}

.chevron{
  align-self:right;
  position: absolute;
  fill: #FFFFFF;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 14px;
  width: 24px;
}

.global-header{
  background: red;
  padding: 10px;
  margin:0;
  border:0;

  
}
.global-footer{
  background:red;
  padding:10px;

}
.flush{
  margin:0;
}


ul {
  list-style: none;
}
li {

  display: inline;
}

.footer-list-item{
  color:#cccccc;
  align-content: right
  
}

.footer-list { 
padding: 15px;
text-decoration: underline;
text-decoration-color: #cccccc;
color: #cccccc;
}

.footer-ul{
  padding: 10px;
}

.footer-logo{
padding: 10px;

}

.footer-btt{
  align-content: center;
  

}

.list{
  list-style: circle !important;
  display: block !important;
}